@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.header {
    display: grid;
    width: 100%;
    height: 430px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 50% 30% 20%;
    background: url("img/header.jpg")no-repeat center 95%;
    box-shadow: 0 3px 14px 1px #2f2c2c;
}

.logo {
    color: lightyellow;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100px;
    height: 100px;
    border: 4px solid lightyellow;
    border-radius: 10px;
    font-size: 41px;
    font-weight: 400;
}

.logo__firstLetter {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.logo__secondLetter {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.logo__slash {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 4px;
    background-color: lightyellow;
    transform: rotate(-45deg);
}

.header__name,
.header__profession {
    color: lightyellow;
    font-weight: 100;
}

.header__name {
    font-size: 67px;
}

.header__profession {
    font-size: 26px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px 0;
}

.biography {
    padding: 10px 25px 10px;
    border-left: 2px solid #fdc7a5;
    margin-top: 50px;
}

.biography__title {
    margin-bottom: 20px;
}

.biography__text p {
    margin: 20px 0;
}

.biography__text p a {
    text-decoration: none;
    font-weight: 600;
    color: #ad825a;
    transition: color 0.17s;
}

.biography__text p a:hover {
    color: #6f5033;
}

.educations {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 80px;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.educations__graduate {
    grid-column: 1 / 3;
    background-color: #ffd89347;
    border-radius: 10px;
    padding: 17px;
    box-shadow: 0 3px 20px 0 #969393;
}

.educations__courses {
    grid-column: 4 / 6;
    background-color: #ffd89347;
    border-radius: 10px;
    padding: 17px;
    box-shadow: 0 3px 20px 0 #969393;
}

.educations__certificates {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    background-color: #ffd89347;
    border-radius: 10px;
    padding: 20px 17px 15px;
    box-shadow: 0 3px 20px 0 #969393;
}

.educations h4 {
    margin-bottom: 40px;
}

.educations h5 {
    margin-bottom: 15px;
}

.educations__certificates li {
    list-style: none;
    padding-bottom: 12px;
}

.educations__certificates a {
    text-decoration: none;
    color: black;
}

.educations__certificates a:hover {
    font-weight: 400;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 35px;
    grid-column-gap: 80px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.skills__skill {
    display: grid;
    grid-template-columns: 30% repeat(10, 1fr);
    align-items: center;
    justify-items: center;
}

.skills__skill span {
    border: 2px solid #fdc7a5;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.skills__tick {
    background-color: #fdc7a5;
}

.hobbies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 80px;
    justify-items: center;
    margin: 60px 90px;
}

.hobbies__one {
    display: grid;
    border: 5px solid #e2b78fc9;
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    transform: rotate(45deg);
    color: #35312d;
    cursor: pointer;
    box-shadow: 3px 3px 20px 0 #969393;
    transition: 0.4s;
}

.hobbies__one:hover {
    margin-top: -10px;
    box-shadow: 13px 13px 40px 0 #969393;
}

.hobbies__one i {
    transform: rotate(-45deg);
    transition: 0.8s;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background: #e8c6a7;
    margin-top: 50px;
    padding: 70px 20% 40px;
    box-shadow: -3px 1px 15px 0 #2f2c2c;
}

.footer__phone {
    grid-column: 1 / 2;
}

.footer__mail {
    grid-column: 2 / 3;
}

.footer__git {
    grid-column: 3 / 4;
}

.footer a {
    text-decoration: none;
    color: black;
}